mgservice.xcodeproj/xcuserdata/sjlh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
mgservice.xcodeproj/xcuserdata/sjlh.xcuserdatad/xcschemes/mgservice.xcscheme
mgservice.xcodeproj/xcuserdata/sjlh.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
mgservice.xcodeproj/xcuserdata/luoyu.xcuserdatad/xcschemes/mgservice.xcscheme
mgservice.xcodeproj/xcuserdata/luoyu.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist

mgservice/WXFrameworks/WXOpenIMSDKFMWK.framework
